body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  text-align: center;
  margin: 0;
}

h1 {
  color: #0078d4;
  font-size: 48px;
}

.box {
  background: white;
  width: 350px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, textarea {
  width: 90%;
  padding: 12px;
  margin: 10px;
  font-size: 16px;
}

textarea {
  height: 150px;
}

button {
  background: #0078d4;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background: #005fa3;
}

.hidden {
  display: none;
}

.mail-layout {
  display: flex;
  height: 80vh;
  margin: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: left;
}

.sidebar {
  width: 230px;
  background: #0078d4;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar button {
  display: block;
  width: 100%;
  background: white;
  color: #0078d4;
  margin: 10px 0;
}

.mail-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.message {
  background: #eef4fb;
  padding: 15px;
  margin: 15px 0;
  border-left: 5px solid #0078d4;
  border-radius: 5px;
}